@media (max-width: 980px) {
  body{
    padding-bottom: 418.5px;
  }
  #tHeaderIndex > nav {
    display: none;
  }
  /*footer*/
  #tFooterIndex{
    flex-direction: column;
  }
  #tFooterIndexDescSuscribe{
    justify-content: center;
  }
  #tFooterIndexDescSuscribe{
    margin-bottom: 40px;
  }
  #tFooterIndexAbout{
    width: 100%;
    justify-content: space-around;
  }
  .tFooterIndexAboutCard{
    margin-left: 0;
    text-align: center;
  }
  #footerIndex{
    padding-left: 30px;
    padding-right: 30px;
  }
  #tFooterIndexDesc{
    margin-right: 0;
  }
  #tFooterIndexDescSuscribe > input{
    width: 60%;
  }
  #tFooterIndexDescSuscribe > button{
    width: 40%;
  }
  #sHeaderIndex{
    width: 95%;
  }
}
@media (max-width: 750px){
  body{
    padding-bottom: 442.5px;
  }
  #tFooterIndexAbout{
    justify-content: space-between;
  }
  .bodyIndexContent{
    padding-left: 25px;
    padding-right: 25px;
  }
}
