@media (max-width: 980px) {
  body{
    padding-bottom: 418.5px;
  }
  #tHeaderIndex > nav {
    display: none;
  }
  #tFooterIndex{
    flex-direction: column;
  }
  #tFooterIndexDescSuscribe{
    margin-bottom: 40px;
  }
  #tFooterIndexAbout{
    width: 100%;
    justify-content: space-around;
  }
  .tFooterIndexAboutCard{
    margin-left: 0;
  }
  .tFooterIndexAboutCard{
    text-align: center;
  }
  /*body*/

  /*footer*/
  #footerIndex{
    padding-left: 30px;
    padding-right: 30px;
  }
  #tFooterIndexDesc{
    margin-right: 0;
  }
}
@media (max-width: 750px){

}
