/*
  _______                   _       _
 |__   __|                 | |     | |
    | | ___ _ __ ___  _ __ | | __ _| |_ ___
    | |/ _ \ '_ ` _ \| '_ \| |/ _` | __/ _ \
    | |  __/ | | | | | |_) | | (_| | ||  __/
    |_|\___|_| |_| |_| .__/|_|\__,_|\__\___|
                     | |
                     |_|
*/
#tHeaderIndex > nav > ul > li:hover .tHeaderIndexSubMenuTemplate{
  display: flex;
}
.tHeaderIndexSubMenuTemplate{
  margin-left: -15px;
  position: absolute;
  display: none;
  flex-direction: column;
  border-top: 2px solid #ffffff;
  border-right:2px solid #ffffff;
  border-bottom:2px solid #ffffff;
  border-left: 2px solid #ffffff;
  border-radius: 5px;
  background: #1a1a1a;
  box-shadow: 4px 5px #ffffff;
  animation: menuMove .25s;
  animation-fill-mode: forwards;
  opacity: 0;
  overflow: hidden;
  z-index: 100;
}
.tHeaderIndexSubMenuTemplate > li > a{
  display: flex; /*Para que el link sea el 100%*/
  padding: 10px 40px 10px 15px;
  color: #999999;
}
.tHeaderIndexSubMenuTemplate > li > a:hover{
  background: #ffffff;
  color: #000000;
}
/* body*/
.bodyTemplate{
  display: flex;
  flex-direction: column;
  width: 100%;
}
#bodyTemplateTitle{
  display: flex;
  justify-content: center;
  padding: 25px 0;
  background: #fa7a7f;
  color: #ffffff;
  font-size: 48px;
}
.bodyTemplateContent{
  font-family: 'Inter', sans-serif;
  margin: auto;
  padding: 50px 25px 80px 25px;
  max-width: 900px;
}
.bodyTemplateContentTitle{
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 21px;
}
.bodyTemplateContentP{
  margin-bottom: 30px;
  line-height: 1.8em;
}
.bodyTemplateContentP > ul > li{
  list-style: square inside;
}
.bodyTemplateContentP > ul > li > a, .bodyTemplateContentP > ul > li > ul > li > a {
  color: rgba(145, 145, 145, 1);
}
.bodyTemplateContentP > ul > li > ul > li{
  list-style: circle;
}
.bodyTemplateContentP > ul > li > a:hover, .bodyTemplateContentP > ul > li > ul > li > a:hover{
  text-decoration: underline;
}
.bodyTemplateContentP > ul > li > ul > li {
  margin-left: 50px;
}
#bodyTemplateContentOption{
  margin-top: 30px;
  font-size: 14px;
}
#bodyTemplateContentOptionOne{
  border-top: 1px solid #f3f4f4;
  border-bottom: 1px solid #f3f4f4;
}
#bodyTemplateContentOptionOne > p{
  padding: 15px 0;
}
#bodyTemplateContentOptionTwo{
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}
#bodyTemplateContentOptionTwoView{
  align-self: center;
}
#bodyTemplateContentOptionTwoLike{
  display: flex;
}
#bodyTemplateContentOptionTwoLike > p{
  align-self: center;
  margin-right: 5px;
}
#bodyTemplateContentOptionTwoLike > a{
  display: flex;
  background: url(img/bookmarks.png) no-repeat;
  width: 28px;
  height: 28px;
  background-size: 100% 100%;
}
/*

 /$$$$$$$$ /$$
|__  $$__/| $$
   | $$   | $$$$$$$   /$$$$$$  /$$$$$$/$$$$   /$$$$$$
   | $$   | $$__  $$ /$$__  $$| $$_  $$_  $$ /$$__  $$
   | $$   | $$  \ $$| $$$$$$$$| $$ \ $$ \ $$| $$$$$$$$
   | $$   | $$  | $$| $$_____/| $$ | $$ | $$| $$_____/
   | $$   | $$  | $$|  $$$$$$$| $$ | $$ | $$|  $$$$$$$
   |__/   |__/  |__/ \_______/|__/ |__/ |__/ \_______/

*/
#bodyTheme{
  display: flex;
  flex-direction: column;
  max-width: 1200px; /*900 or 1200*/
  padding: 50px;
  margin: auto;
}
#bodyTheme > p{
  margin-bottom: 32px;
  color: #ffffff;
  font-size: 32px;
}
#bodyTheme > p > span{
  color: #fa7a7f;
}
.bodyThemeContent{
  margin-bottom: 50px;
  position: relative;
  display: flex;
  padding: 15px;
  max-width: 100%;
  border: 2px solid #fa7a7f;
  border-radius: 5px;
}
.bodyThemeContent > p {
  position: absolute;
  transform: translate(0,-50%);
  top: -2px;
  right: 30px;
  padding: 5px 12.5px;
  background: #1a1a1a;
  font-size: 22px;
  text-transform: uppercase;
}
.bodyThemeContentBox{
  margin-right: 15px;
}
.bodyThemeContentBox > p{
  margin-bottom: 5px;
}
.bodyThemeContentBox > p > a{
  display: flex;
  padding: 9px 3px;
  color: #999999;
}
.bodyThemeContentBox > p > a:hover{
  text-decoration: underline;
}
/*
 /$$$$$$$  /$$
| $$__  $$| $$
| $$  \ $$| $$  /$$$$$$   /$$$$$$
| $$$$$$$ | $$ /$$__  $$ /$$__  $$
| $$__  $$| $$| $$  \ $$| $$  \ $$
| $$  \ $$| $$| $$  | $$| $$  | $$
| $$$$$$$/| $$|  $$$$$$/|  $$$$$$$
|_______/ |__/ \______/  \____  $$
                         /$$  \ $$
                        |  $$$$$$/
                         \______/
*/

#bodyBlog{
  display: flex;
  flex-direction: column;
  max-width: 900px; /*900 or 1200*/
  padding: 50px;
  margin: auto;
}
.bodyBlogPost{
  position: relative;
  margin-bottom: 50px;
  padding: 25px;
  width: 100%;
  border-left: 8px solid #fa7a7f;
  /* border-right: 8px solid transparent; */
}
.bodyBlogPostTitle{
  font-size: 27px;
  font-weight: 600;
}
.bodyBlogPostTitle > a {
  color: #ffffff;
}
.bodyBlogPostImg{
  margin: 20px 0;
  height: 200px;
  width: 100%;
  background: url(img/web.jpg) center;
}
.bodyBlogPostDesc{
  font-family: 'Inter', sans-serif;
  line-height: 1.8em;
}
.bodyBlogPostProperties{
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  /* padding: 12px 0; */
  padding-top: 12px;
  border-top: 1px solid #f3f4f4;
  /* border-bottom: 1px solid #f3f4f4; */
}
/*

  /$$$$$$  /$$ /$$           /$$$$$$$                                      /$$
 /$$__  $$| $$|__/          | $$__  $$                                    | $$
| $$  \__/| $$ /$$  /$$$$$$ | $$  \ $$  /$$$$$$   /$$$$$$   /$$$$$$   /$$$$$$$
| $$      | $$| $$ /$$__  $$| $$$$$$$  /$$__  $$ |____  $$ /$$__  $$ /$$__  $$
| $$      | $$| $$| $$  \ $$| $$__  $$| $$  \ $$  /$$$$$$$| $$  \__/| $$  | $$
| $$    $$| $$| $$| $$  | $$| $$  \ $$| $$  | $$ /$$__  $$| $$      | $$  | $$
|  $$$$$$/| $$| $$| $$$$$$$/| $$$$$$$/|  $$$$$$/|  $$$$$$$| $$      |  $$$$$$$
 \______/ |__/|__/| $$____/ |_______/  \______/  \_______/|__/       \_______/
                  | $$
                  | $$
                  |__/
*/
#bodyChat{
  max-width: 1300px;
  margin: auto;
  padding: 50px 50px;
}
#bodyChatHis{
  width: 100%;
}
#bodyChatHisMes{
  width: 100%;
  line-height: 1.5em;
  display: flex;
  flex-direction: column-reverse;
}
#bodyChatHisMes > li{
  position: relative;
  margin-bottom: 25px;
  padding: 10px 10px 10px 25px;
  border-radius: 5px;
  background: #3a3b3c;
  border-left: 5px solid #fa7a7f;
  overflow-x: scroll;
}
.messagesIn{
  font-family: 'Inter',sans-serif;
  font-size: 13px;
}
.messagesIn::selection{
  background: #1a1a1a;
}
#bodyChatHisMes > li > button{
  position: absolute;
  top: 0;
  right: 0;
  height: 44px;
  width: 80px;
  background: none;
  color: #ffffff;
  opacity: 0;
  border-bottom-left-radius: 9px;
  font-size: 17px;
  font-weight: 600;
  transition: opacity 0.155s;
}
#bodyChatHisMes > li > button:hover{
  text-decoration: underline;
  color: #fa7a7f;
}
#bodyChatHisMes > li::-webkit-scrollbar{
  background: none; /*!Cuidado*/
  height: 0px;
}
#bodyChatSen{
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
}
#bodyChatSen > textarea{
  padding: 5px;
  width: 80%;
  outline: none;
  border: none;
  resize: none;
  min-height: 50px;
	/* max-height: 50vh; */
}
#postSubmit{
  width: 20%;
  color: #ffffff;
  background: #fa7a7f;
}
#postSubmit:hover{
  cursor: pointer;
}
#bodyChatHisMes > li:hover .buttonShow{
  opacity: 100%;
  transition: opacity 0.05s;
}

























/**/
